@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}
/* shared styles */
.display-flex{
    display: flex;
}
/* text color */
.text-primary{
    color: #ff900e;
}
.text-gray{
    color: #424242;
}
.text-light-gray{
    color: #727272;

}
.bg-light{
    background-color: #fff4e6;
}
.button-primary{
    margin-bottom: 30px;

}
/* header styles */
.bg-light{
    margin: 0 auto;
}
/* navbar related style */
.navbar{
    justify-content: space-between;
    align-items:center;
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
    margin: 0 auto;
}
.nav-item{
    list-style: none;
    margin-right: 30px;

}
.nav-link{  
    text-decoration: none;
    font-weight:477px ;
    margin: 0 auto;
}
.navbar,.banner{
max-width: 1440px;
margin: 0 auto;
}

.banner{
    margin: 0 auto;
}
/* banner related style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;

}
.banner-title{
    font: weight 700px; 
    font-size: 4rem;
    
   
}
.button-primary{
    background-color:#ff900e;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem ;
    font-weight: 680;
    border-radius:8px ;
    border: none;
    margin-top:px;

}
.banner-images{
    width: 100%;

}
/* section Main */
main > section {
    margin-top: 130px;
}

main{
    margin: 0 auto ;
}
.button-primary{
    background-color:#ff900e;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem ;
    font-weight: 680;
    border-radius:8px ;
    border: none;
    margin-top:px;

}
/* section team and feature related  */
.team-container{
    align-items: center;
    margin: 0 auto;
}
.item-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:24px;

}
.our-feature{
margin-left: 130px;
max-width:530px ;

}
.feature-titel{
    font-size: 2.8rem;
    font-weight: 700;

}
#quick-list{
    font-weight: 500px;

}
.item-image-container{
    margin-left: 100px;
}
/* <!-- Feature section will enjoy --> */
.features{
    gap: 50px;
    margin-left: 100px;
    margin-right: 50px;
}

#feature-section-title{
    border-left: 5px solid #ff900e;
    padding-left: 20px;
}
.feature-card {
    padding: 30px;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06) ;
margin-bottom:20px ;
border-radius: 8px;
}

.feature-card .feature-title {
font-weight: 600px;
font-size:1.25rem ;
margin-top: 0px;
margin-bottom: 0px;

}

/* Some-Facts */
.some-facts{
    width: 542px;
    height: 52px;
    margin-left: 100px;
    margin-bottom: 100px;
}
.some-facts-title{
    width: 258px;
height: 53px;

}
.some-facts-title{
    width: 258px;
height: 53px;
}
.facts-Description{
    width: 542px;
height: 52px;

}
/* Section-fact-card box  */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 140px;
   
    
}
.fact-card{
    width: 240px;
height: 240px;
border: 2px solid rgb(255, 144, 14);
border-radius: 8px;
align-items: center;
justify-content: center;
text-align: center;
}
.fact-number{
    font: size 2.8rem;
    font-weight: 600px;
    margin-top: 5px;
    margin-bottom: 10px;


}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600px;
    margin-top: 10px;



}

/* responsive media query mobile */
@media screen and (max-width:576px) {
    .navbar,
    .nav-links,
    .team-container
    {
        flex-direction: column;
    }
    .item-image-container{
        grid-template-columns: repeat(1,1fr);
        margin: 0 auto;
    }
    .our-feature{
        margin-left: 20px;
    }
    
}
/* medium size device */
@media screen and (min-width:576px) and (max-width:992px) {
    .team-container{
        flex-direction: column ;

    }
    .our-feature{
        margin: 50px auto;

    }
    .item-image-container{
        margin:5px 5px;
    }

    
}